NODE_ENV='dev'
# Conexión a base de datos Postgresql de Prisma
DATABASE_URL="postgres://<code>@db.prisma.io:5432/postgres?sslmode=verify-full"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# Registro y autenticación GitHub y Google, se requiere tener cuenta en ambos servicios para generar las claves
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Envío de email con nodemailer, se requiere un servicio de email, en este caso se trata de Gmail, pero sería conveniente uno de pago
GMAIL_USER=''
GMAIL_APP_PASSWORD=''